html{
    background: url("https://cdn.clipart.email/abd454a8332ea3855737dd85ee5e996c_rick-and-morty-wallpaper-set-album-on-imgur_1080-1920.jpeg#.XWmfu8VxGuk.link");
    background-repeat: no-repeat;
    background-size: 850px 850px;
    color: azure;
    padding-left: 50px;
}